<footer class="footer">
    <div class="footer-container">
  
      <div class="footer-section">
        <div class="logo-and-title">
          <img src="assets/about-us-logo.png"  class="footer-logo">
          <h3>About Us</h3>
        </div>
        <p>
          We are a leading bank committed to providing excellent financial services.
        </p>
      </div>
  
      <div class="footer-section">
        <div class="logo-and-title">
          <img src="assets/contact-logo.png"  class="footer-logo">
          <h3>Contact</h3>
        </div>
        <p>Email: support&#64;mybank.com</p>
        <p>Phone: (123) 456-7890</p>
      </div>
  
      <div class="footer-section">
        <h3>Quick Links</h3>
        <ul class="footer-links">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/loan-services">Loans Services</a></li>
          <li><a routerLink="/savings">Saving Schemes</a></li>
        </ul>
      </div>
  
      <div class="footer-bottom">
        <button (click)="scrollToTop()" class="scroll-to-top">Back to Top</button>
        <p>&copy; {{ currentYear }} My Bank. All rights reserved.</p>
      </div>
    </div>
  </footer>